* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #000430;
  --secondaryBackground: #171c48;
  --text: #fff;
  --purple: #828dff;
  --teal: #24feee;
}
body {
  background-color: var(--background);
  color: var(--text);
}

.container {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 120px auto 0 auto;
}
.stats-container {
  padding: 10px;
  border: 2px solid var(--purple);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}
.details {
  width: 100%;
}
.details h1 {
  margin: 10px;
}
.details p {
  margin: 10px;
}
#progress-bar {
  width: 100%;
  height: 10px;
  background-color: var(--secondaryBackground);
  border-radius: 5px;
  margin: 20px 0px 0px 10px;
}
#progress {
  width: 0;
  height: 10px;
  background-color: var(--teal);
  border-radius: 5px;
  transition: all 0.3s ease;
}
#numbers {
  width: 100px;
  height: 100px;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
form {
  display: flex;
  width: 100%;
  margin-top: 30px;
  gap: 15px;
}
input {
  padding: 15px;
  border: 1px solid var(--purple);
  background-color: var(--secondaryBackground);
  border-radius: 10px;
  flex: 1;
  color: var(--text);
  outline: none;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--text);
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
#task-list {
  display: flex;
  width: 100%;
  gap: 10px;
  list-style: none;
  flex-direction: column;
  margin: 30px 0 0 0;
}
.taskItem {
  width: 100%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondaryBackground);
}
.task {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task input {
  width: 16px;
  height: 16px;
}
.taskItem img {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  cursor: pointer;
}
.completed p {
  text-decoration: line-through;
  color: var(--teal);
}
